h1 {
  padding: 2rem;
  font-style: bold;
  font-size: 3em;
}

.cities-grid {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  height: min(60%, 120rem);
}

.city-card {
  font-size: large;
  border-radius: 0.5rem;
  padding: 2rem;
}

@media (min-width: 50em) {
  .cities-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 80em) {
  .cities-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
